<div class="relative mb-4" data-te-input-wrapper-init>
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}
    {{ form_label(form.title) }}
</div>
{# Texte alternatif #}
<div class="relative mb-4" data-te-input-wrapper-init>
    {{ form_errors(form.alt) }}
    {{ form_widget(form.alt) }}
    {{ form_label(form.alt) }}
</div>
{# Description de la photo #}
<div class="relative mb-4" data-te-input-wrapper-init>
    {{ form_errors(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_label(form.description) }}
</div>
{# Uploade file #}
<div class="relative mb-4" data-te-input-wrapper-init>
    {{ form_errors(form.pictureFile) }}
    {{ form_widget(form.pictureFile) }}
    {{ form_label(form.pictureFile) }}
</div>
{# choix du média #}
<div class="relative mb-4" data-te-input-wrapper-init>
    {{ form_errors(form.Medias) }}
    {{ form_widget(form.Medias) }}
</div>
