{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block body %}
    <section class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
        <div class="container h-full p-10 max-w-6xl mx-auto">
            <div
                    class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
                <div class="w-full">
                    <div
                            class="block rounded-lg bg-white shadow-lg dark:bg-neutral-800">
                        <div class="g-0 lg:flex lg:flex-wrap">
                            <!-- Left column container-->
                            <div class="px-4 md:px-0 lg:w-6/12">
                                <div class="md:mx-6 md:p-12">
                                    <!--Logo-->
                                    <div class="text-center">
                                        <img
                                                class="mx-auto w-48"
                                                src="{{ asset('build/logo-rocket-wonders.png') }}"
                                                alt="logo" />
                                        <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                                            Registration form
                                        </h4>
                                    </div>

                                    {{ form_start(registration_form) }}
                                    <p class="mb-4">Please register an account</p>
                                    <div class="relative mb-4" data-te-input-wrapper-init>
                                        {{ form_errors(registration_form.email) }}
                                        {{ form_widget(registration_form.email, {'attr': {
                                            'class':"peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0",
                                            'id': "exampleFormControlInput1",
                                            'placeholder': 'john.doe@test.com'
                                        }}) }}
                                        {{ form_label(registration_form.email, 'Enter your email address', {'label_attr': {
                                            'class': 'pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary-900 peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary',
                                            'for': "exampleFormControlInput11"
                                        }}) }}
                                        {{ form_help(registration_form.email) }}
                                    </div>
{#                                    pseudo-input#}
                                    <div class="relative mb-4" data-te-input-wrapper-init>
                                        {{ form_widget(registration_form.pseudo, {'attr': {
                                            'class':"peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0",
                                            'id': "exampleFormControlInput1",
                                            'placeholder': 'John Doe'
                                        }}) }}
                                        {{ form_label(registration_form.pseudo, 'Create a pseudo', {'label_attr': {
                                            'class': 'pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary-600 peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary',
                                            'for': "exampleFormControlInput11"
                                        }}) }}
                                    </div>
{#                                    Password input#}
                                    <div class="relative mb-4" data-te-input-wrapper-init>
                                        {{ form_errors(registration_form.plainPassword) }}
                                        {{ form_widget(registration_form.plainPassword.first, {'attr': {
                                            'class':"peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0",
                                            'id': "exampleFormControlInput1"
                                        }}) }}
                                        {{ form_label(registration_form.plainPassword.first, 'Password', {'label_attr': {
                                            'class': 'pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary-600 peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary',
                                            'for': "exampleFormControlInput11"
                                        }}) }}
                                        {{ form_help(registration_form.plainPassword.first) }}
                                    </div>
{#                                    repeated password#}
                                    <div class="relative mb-4" data-te-input-wrapper-init>
                                        {{ form_widget(registration_form.plainPassword.second, {'attr': {
                                            'class':"peer block min-h-[auto] w-full rounded border-2 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:placeholder:text-neutral-200 [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0",
                                            'id': "exampleFormControlInput1",
                                        }}) }}
                                        {{ form_label(registration_form.plainPassword.second, 'Please repeat your password', {'label_attr': {
                                            'class': 'pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary-600 peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary',
                                            'for': "exampleFormControlInput11"
                                        }}) }}
                                        {{ form_help(registration_form.plainPassword.second) }}
                                    </div>
                                    <div>
                                        {{ form_widget(registration_form.agreeTerms) }}
                                        {{ form_label(registration_form.agreeTerms,'agree terms', {'label_attr': {
                                            'class': 'inline-block pl-[0.15rem] hover:cursor-pointer'
                                        }}) }}
                                    </div>
                                    <!--Submit button-->
                                    <div class="mb-12 pb-1 pt-1 text-center">
                                        <button
                                                class="bg-gradient-to-r from-sky-950 to-sky-100  mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                                                type="button"
                                                data-te-ripple-init
                                                data-te-ripple-color="light"
                                        >
                                            Sign up
                                        </button>


                                    </div>

                                    <!--Login button-->
                                    <div class="flex items-center justify-between pb-6">
                                        <p class="mb-0 mr-2">Already have an account?</p>
                                        <a
                                                type="button"
                                                href="{{ path('app_login') }}"
                                                class="inline-block rounded border-2 border-sky-400 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-sky-700 transition duration-150 ease-in-out hover:border-sky-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-sky-600 focus:border-sky-600 focus:text-sky-600 focus:outline-none focus:ring-0 active:border-sky-700 active:text-sky-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                                                data-te-ripple-init
                                                data-te-ripple-color="light">
                                            Login
                                        </a>
                                    </div>
                                    {{ form_end(registration_form) }}
                                </div>
                            </div>

                            <!-- Right column container with background and description-->
                            <div
                                    class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none bg-gradient-to-r from-sky-950 to-sky-100"
                            >
                                <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                                    <h4 class="mb-6 text-xl font-semibold">
                                        Welcome to the universe of Wonders from stars
                                    </h4>
                                    <p class="text-sm">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing
                                        elit, sed do eiusmod tempor incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex
                                        ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
