{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Carousel{% endblock %}

{% block body %}
    <div class="w-full m-0 p-0 bg-cover bg-bottom">
        <div class="container max-w-5xl mx-auto pt-16 md:pt-32 text-center break-normal">
            <!--Title-->
            <h1 class="text-white font-extrabold text-xl md:text-6xl w-full">
                🔭 Images from the NASA 🔭
            </h1>
        </div>
        <hr
                class="my-12 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500
                to-transparent opacity-25 dark:opacity-100"/>
    </div>
    <div
            class="block md:mb-8 w-screen md:w-1/3 rounded-lg bg-neutral-50 mx-auto">
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200 px-3">
            Please select a date to get a gallery of pictures
        </p>
        <form id="nasa-search-form" hx-post="{{ path('app_carousel') }}" hx-target="#image-container">
        {{ form_start(form) }}
        <div

                class="relative mb-3"
                id="datepicker-disable-future"
                data-te-input-wrapper-init>
            {{ form_widget(form.start_date) }}
            {{ form_label(form.start_date) }}
        </div>
        {{ component('Button:Full', {
            type: 'submit',
            buttonText: "select"
        }) }}
        {{ form_end(form) }}
        </form>
    </div>
    <section>
        <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12" id="image-container"
             hx-swap="outerHTML">
        </div>
    </section>



{% endblock %}
