{# <nav class="mt-0 w-full bg-gradient-to-r from-sky-950 to-sky-100 sticky top-0">
    <div class="container mx-auto flex items-center">
        {% set links = [
            { 'title' : 'Home', 'path' : path('home_index') },
            { 'title' : 'Login', 'path' : path('app_login') }
        ] %}
        {% set currentUrl = app.request.getRequestUri() %}
        <div class="flex w-1/2 pl-4 text-sm">
            <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                {% for link in links %}
                    <li class="mr-2">
                        <a class="inline-block py-2 px-2  {{ currentUrl == link.path ? 'text-blue-500' : 'text-gray-200 no-underline hover:underline' }}"
                           href="{{ link.path }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav> #}
<!-- Main navigation container -->
<nav
        class="sticky top-0 flex-no-wrap relative flex w-full items-center justify-between bg-gradient-to-r from-sky-950 to-sky-100 py-2 shadow-md shadow-black/5 dark:bg-neutral-600 dark:shadow-black/10 lg:flex-wrap lg:justify-start lg:py-4">
    <div class="flex w-full flex-wrap items-center justify-between px-3">
        <!-- Hamburger button for mobile view -->
        <button
                class="block border-0 bg-transparent px-2 text-neutral-500 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 dark:text-neutral-200 lg:hidden"
                type="button"
                data-te-collapse-init
                data-te-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <!-- Hamburger icon -->
            <span class="[&>svg]:w-7">
        <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-7 w-7">
          <path
                  fill-rule="evenodd"
                  d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                  clip-rule="evenodd"/>
        </svg>
      </span>
        </button>

        <!-- Collapsible navigation container -->
        <div
                class="!visible hidden flex-grow basis-[100%] items-center lg:!flex lg:basis-auto"
                id="navbarSupportedContent1"
                data-te-collapse-item>
            <!-- Logo -->
            <div
                    class="mb-4 ml-2 mr-5 mt-3 flex items-center text-neutral-900 hover:text-neutral-900 focus:text-neutral-900 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400 lg:mb-0 lg:mt-0"
            >
                <img
                        src="{{ asset('build/logo-rocket-wonders.png') }}"
                        style="height: 15px"
                        alt="TE Logo"
                        loading="lazy"/>
            </div>
            <!-- Left navigation links -->
            {% set currentUrl = app.request.getRequestUri() %}
            <ul
                    class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
                    data-te-navbar-nav-ref>
                <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                    <!-- HomePage link -->
                    <a
                            class="{{ currentUrl == path('home_index') ? 'text-blue-500' : 'text-neutral-50 transition duration-200 hover:text-neutral-100 hover:ease-in-out' }} focus:text-neutral-200 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2"
                            href="{{ path('home_index') }}"
                            data-te-nav-link-ref
                    >Home</a
                    >
                </li>

                {% if app.user is not defined %}
                    <!-- Login link -->
                    <li class="mb-4 lg:mb-0 lg:pr-2" data-te-nav-item-ref>
                        <a
                                class="{{ currentUrl == path('app_login') ? 'text-blue-500' : 'text-neutral-50 transition duration-200 hover:text-neutral-100 hover:ease-in-out' }} focus:text-neutral-200 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
                                href="{{ path('app_login') }}"
                                data-te-nav-link-ref
                        >Login</a
                        >
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- Right elements -->
        <div class="relative flex items-center">
            {% if app.user %}
                <div class="text-neutral-700 transition duration-200 hover:text-neutral-100 hover:ease-in-out focus:text-neutral-200 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400">
                    {{ app.user.pseudo ? app.user.pseudo : app.user.email }} is connected
                </div>
                <!-- Logout link -->
                <a
                        class="text-neutral-700 transition duration-200 hover:text-neutral-100 hover:ease-in-out focus:text-neutral-200 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-neutral-400"
                        href="#"
                        data-te-nav-link-ref
                >Logout</a
                >
            {% endif %}
        </div>
    </div>
</nav>
